<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h4>Template driven form</h4>
      <app-tdf></app-tdf>
    </div>
    <div class="col-md-6">
      <h4>Model driven form</h4>
      <app-mdf></app-mdf>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h4>Form builder 1</h4>
      <app-fbf1></app-fbf1>
    </div>
    <div class="col-md-6">
      <h4>Form builder 2</h4>
      <app-fbf></app-fbf>
    </div>
  </div>
  <hr />
</div>

