<form [formGroup] = "userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input #refName type="text" class="form-control" formControlName = "name">
    <div *ngIf="userForm.controls['name'].hasError('required')" class="alert alert-danger">
      Please enter name
    </div>
    <div *ngIf="userForm.controls['name'].hasError('minlength')" class="alert alert-danger">
      Please enter atleast 4 characters
    </div>
    <div *ngIf="userForm.controls['name'].hasError('maxlength')" class="alert alert-danger">
      Character limit to 10
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName = "email">
  </div>
  <div formGroupName = "address">
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" formControlName = "street">
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" formControlName = "city">
    </div>
    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" class="form-control" formControlName = "postalcode">
      <div *ngIf="userForm.controls['address'].controls['postalcode'].hasError('pattern')" class="alert alert-danger">
        Please enter five digit number
      </div>
    </div>
  </div>

  <button [disabled]="!userForm.valid" type="submit" class="btn btn-large btn-block btn-primary">Submit</button>
</form>